  <tr>
    <td class="tg-yw4l">{AnimalType}</td>
    <td class="tg-yw4l">{AnimalName}</td>
    <td class="tg-yw4l">{AnimalChip}</td>
    <td class="tg-yw4l">{Breed}</td>
    <td class="tg-yw4l">{OwnerName}</td>
    <td class="tg-yw4l">{OwnerPhone}</td>
    <td class="tg-yw4l">{VaccinationDate}</td>
    <td class="tg-yw4l">{AggressiveState}</td>
  </tr>